@import 'variables';

*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

.page{
    background-color: white;
    height: 300vh;
    &__header{
        position: absolute;
        width: 100%;
        height: 15vh;
        z-index: 999;
        &__nav{
            width: 100%;
            .menu{
                position: relative;
                height: 24px;
                width: 40px;
                img{
                    height: 100%;
                    max-width: 100%;
                }
            }
            .account-log{
                button{
                    border: none;
                    border-radius: 30px;
                    padding: .4em 1.5em;
                    font-weight: 600;
                    font-size: 13px;
                }
                .login{
                    background: none;
                    color: white;
                }
                .sign-up{
                    background-color: white;
                    color: $light-red;
                }
            }
        }
    }
    .hero-wrapper{
        position: relative;
        min-height: 60vh;
        padding: 4.5rem 0;
        background: rgb(255,143,112);
        background: linear-gradient(177deg, rgba(255,143,112,1) 0%, rgba(255,61,84,1) 90%); 
        border-bottom-left-radius: 100px;
        overflow: hidden;

        @media screen and (min-width: 576px) {
            border-bottom-left-radius: 50px;
        }

        @media screen and (min-width:768px) {
            background: rgb(255,143,112);
            background: linear-gradient(87deg, rgba(255,143,112,1) 0%, rgba(255,96,96,1) 67%, rgba(255,61,84,1) 100%); 
        }
    }
    .hero-bg{
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(/images/bg-pattern-intro-mobile.svg);
        background-size: 350%;
        background-position: 35% 42%;
        background-repeat: no-repeat;

        @media screen and (min-width: 576px) {
            background-position: 35% 45%;
            background-size: 200%;
        }

        @media screen and (min-width: 768px) {
            background-image: url(/images/bg-pattern-intro-desktop.svg);
            background-size: 200%;
            background-position: 30% 52%;
        }
    }
    &__hero{
        position: relative;
        z-index: 2;
        text-align: center;
        padding-top: 3rem;
        &__title{
            color: white;
            font-size: clamp(30px, 7vw, 40px);
            padding-bottom: .3rem;
        }
        &__subtitle{
            color: rgba(255, 255, 255, 0.838);
        }
        &__links{
            flex-direction: column;
            a{
                text-decoration: none;
                font-weight: bold;
                text-align: center;
                padding: .3em .6em;
                border-radius: 25px;
                margin:.5rem;
            }
            .start{
                color:$very-light-red;
                background-color: white;
                border: 2px solid white;
            }
            .info{
                color: white;
                border: 2px solid rgba(255, 255, 255, 0.588);
            }
            @media screen and (min-width: 350px) {
                flex-direction: row;
            }
        }
    }
    &__content{
        .design{
            &__title{
                color: $very-dark-grayish-blue;
            }
            &__info{
                &__card{
                    h2{
                        max-width: 250px;
                        color: $very-dark-grayish-blue;
                    }
                    p{
                        padding: 1em 0;
                        color: hsla(240, 10%, 16%, 0.568);
                        max-width: 450px;
                    }
                }
            }
        }
    }
}
















// .page__header{
//     position: relative;
    // background: rgb(255,143,112);
    // background: linear-gradient(177deg, rgba(255,143,112,1) 0%, rgba(255,61,84,1) 80%); 
    // border-bottom-left-radius: 100px;
    // overflow: hidden;
//     &__nav{
//         position: relative;
//         z-index: 2;
//         height: 15vh;
//         img{
//             max-width: 100%;
//         }
//         .logo{
//             width: 100px;
//             height: 40px;
//         }
//     }
    // &__bg{
        // position: absolute;
        // width: 100%;
        // height: 100%;
        // background-image: url(/images/bg-pattern-intro-mobile.svg);
        // background-size: 300%;
        // background-position: 35% 35%;
    // }
    // &__hero{
    //     position: relative;
    //     color: white;
    //     padding: 7rem 0;
        // &__title{
        //     h1{
        //         font-size: clamp(30px, 7vw, 40px);
        //         padding-bottom: .3rem;
        //     }
        //     p{
        //         color: rgba(255, 255, 255, 0.838);
        //     }
        // }
        // &__links{
        //     flex-direction: column;
        //     padding: 2rem 0;
        //     a{
                // text-decoration: none;
                // font-weight: bold;
                // text-align: center;
                // padding: .5em .7em;
                // border-radius: 25px;
                // margin:.3rem;
        //     }
            // .start{
            //     color:$very-light-red;
            //     background-color: white;
            //     border: 2px solid white;
            // }
            // .info{
            //     color: white;
            //     border: 2px solid rgba(255, 255, 255, 0.588);
            // }
            // @media screen and (min-width: 350px) {
            //     flex-direction: row;
            // }
    //     }
    // }
// }

    